<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/ppd_logo_circle.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Media</title>
    <link rel="stylesheet" href="/css/media/style.css">
    <script src="https://kit.fontawesome.com/95a1f26c34.js" crossorigin="anonymous"></script>


</head>

<body>
    <div class="">
        <%- include('../navbar/navbar.ejs') %>
    </div>
    <div class="videos">

        <div class="award">
            <h1 class="award-video-heading">Award Videos</h1>
            <div class="award-video-parent">
                <div class="award-video">
                    <p class="video-tag"><i class="fa-solid fa-chevron-right"></i> QS Award Video</p>
                    <span class="video-back-text">Video is loading...<br>Please wait for a moment</span>
                    <iframe src="https://drive.google.com/file/d/1fMMY2GOE4g6BaevjFwXd5nCHWzG7B9I-/preview" allow="autoplay"
                    allowfullscreen></iframe>
                </div>
                <div class="award-video">
                    <p class="video-tag"><i class="fa-solid fa-chevron-right"></i> Play to Learn Video</p>
                    <span class="video-back-text">Video is loading...<br>Please wait for a moment</span>
                    <iframe src="https://drive.google.com/file/d/1JYrafmtSKzjei90x6FjRt1wzsm3PHO_o/preview" allow="autoplay"
                    allowfullscreen></iframe>
                </div>
            </div>
        </div>

        <div class="main-ppd">
            <div class="main-ppd-video">
                <p class="video-tag2"><i class="fa-solid fa-chevron-right"></i> PPD Personal and Professional Development Courses at IITM Madras (under GN
                    Category)</p>
                <iframe src="https://www.youtube.com/embed/uOt47GpR3nQ?si=tZjs22bPVTKMkAu6" title="YouTube video player"
                    frameborder="0"
                    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                    allowfullscreen></iframe>
            </div>
        </div>

        
        <div class="course">
            <h1 class="course-video-heading">Personal & Professional Development Course Videos</h1>
            <div class="course-video-parent">
                <div class="course-video">
                    <p class="video-tag3"><i class="fa-solid fa-chevron-right"></i> Happiness, Habits & Success (GN6106)</p>
                    <span class="video-back-text2">Video is loading...<br>Please wait for a moment</span>
                    <iframe src="https://drive.google.com/file/d/1h8UounLMRQWQNtQtU7QTZeMbk4yF7ff0/preview" allow="autoplay"
                    allowfullscreen></iframe>
                </div>
                <div class="course-video">
                    <p class="video-tag3"><i class="fa-solid fa-chevron-right"></i> Self Awareness (GN5001)</p>
                    <span class="video-back-text2">Video is loading...<br>Please wait for a moment</span>
                    <iframe src="https://drive.google.com/file/d/1ohx4LhXMtLGFfvHB_xhHwOd1RBvJ3455/preview" allow="autoplay"
                        allowfullscreen></iframe>
                </div>
                <div class="course-video">
                    <p class="video-tag3"><i class="fa-solid fa-chevron-right"></i> Flow for High Performance (GN6120)</p>
                    <span class="video-back-text2">Video is loading...<br>Please wait for a moment</span>
                    <iframe src="https://drive.google.com/file/d/1_v4DBJfrx18JtbwvJbl0EMK6QJgyt0lc/preview" allow="autoplay"
                    allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </div>

    <div class="media-footer">
        <%- include('../footer/footer.ejs') %>
    </div>
</body>

</html>