<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="icon" href="/images/ppd_logo_circle.png" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="/css/homepage/style.css">
</head>

<body>
    <%- include('../navbar/navbar.ejs') %>
        <div class='main'>
            <div class='first-section'>
                <div class='first-col'>
                    <h1 class='main-heading'>
                        <span class="moving-text">P</span><span id="typing-text"
                            class="auto-input moving-text"></span></span><span class="cursor">|</span><br>
                        <div>Development</div>
                    </h1>
                    <p class="main-content">
                        "Intertwining <span class='personal-text'>personal</span> and <span
                            class='profess-text'>professional</span> development unlocks your potential. Personal growth
                        nurtures self-awareness and emotional intelligence, while professional development fuels your
                        career. Balance empowers confident, successful living."
                    </p>
                </div>
                <div class='second-col'>
                    <img src="/images/home_banner1.png" alt="">
                </div>
            </div>
        </div>


        <div class='second-section'>
            <h1 class="second-heading">
                Purpose of the minor stream in Personal and Professional Development
            </h1>
            <div class="hover-card">

                <div class="body" >
                    <div class="container">
                        <div class='card'>
                            <div class="front">
                                <img src="/images/hover_img1.jpg" alt="" class="logo-hover" />
                                <p class="">
                                    Nurturing student growth, we focus on develop...
                                </p>
                            </div>
                            <div class="back">
                                <p class="">
                                    Nurturing student growth, we focus on developing—skills for adulthood, fostering
                                    resilience, compassion, and empowerment, preparing them for life's challenges
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body" >
                    <div class="container">
                        <div class='card'>
                            <div class="front">
                                <img src="/images/hover_img2.jpg" alt="" class="logo-hover" />
                                <p class="">
                                    Elevate with courses blending personal and p...
                                </p>
                            </div>
                            <div class="back">
                                <p class="">
                                    Elevate with courses blending personal and professional development—unlock
                                    perfection and growth for a thriving journey of self and career
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body" >
                    <div class="container">
                        <div class='card'>
                            <div class="front">
                                <img src="/images/hover_img3.jpg" alt="" class="logo-hover" />
                                <p class="">
                                    Unleash your potential in both personal and profes...
                                </p>
                            </div>
                            <div class="back">
                                <p class="">
                                    Unleash your potential in both personal and professional realms—cultivating growth,
                                    success, and fulfillment on your unique developmental journey
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body" >
                    <div class="container">
                        <div class='card'>
                            <div class="front">
                                <img src="/images/hover_img4.jpg" alt="" class="logo-hover" />
                                <p class="">
                                    To gain insights into professional etiquette an...
                                </p>
                            </div>
                            <div class="back">
                                <p class="">
                                    To gain insights into professional etiquette and gender diversity, to make them
                                    well-rounded and independent individuals in society.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="body" >
                    <div class="container">
                        <div class='card'>
                            <div class="front">
                                <img src="/images/hover_img5.jpg" alt="" class="logo-hover" />
                                <p class="">
                                    These courses foster critical thinking, adapta...
                                </p>
                            </div>
                            <div class="back">
                                <p class="">
                                    These courses foster critical thinking, adaptability, and confidence, preparing
                                    students for a competitive job market and lifelong learning.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="seventh-section">
            <div class="" id="child1">
                <p class="">
                    On one hand, personal development nurtures <b>values, character, and essential life skills,
                        fostering emotional intelligence, resilience, empathy, and self-awareness</b>, all of which cast
                    a profound impact on adult life. Personal growth is not an optional supplement but an essential
                    foundation for a balanced and fulfilling life. Simultaneously, professional development equips
                    <b>students with the abilities, knowledge, and mindset necessary for success in their chosen
                        fields</b>. It encompasses academic progress, hands-on training, and exposure to real-world
                    situations, facilitating a seamless transition from the classroom to the workplace. It includes
                    hands-on experience and solving real engineering problems which helps students bridge the gap
                    between what they learn in school and what they need in their careers.
                </p>
            </div>
            <div class="" id="child2">
                <img src="/images/home_ban1.png" alt="" class="" />
            </div>
        </div>


        <div class="eighth-section">
            <div class="">
                <img src="/images/home_ban2.png" alt="" class="" />
            </div>
            <div class="">
                <p class="">
                    Personal and Professional development courses are specifically tailored to support engineering
                    students in their personal and professional growth during their college years, complementing their
                    technical education. These courses cover a wide range of topics, including <b>life skills,
                        self-awareness, creativity, leadership, and holistic perspectives</b>, equipping engineering
                    students with practical knowledge and skills beyond traditional subjects. They enhance <b>soft
                        skills, personal growth, adaptability, problem-solving, networking, emotional resilience, and
                        holistic well-being</b>. Graduates also gain insights into professional etiquette and gender
                    diversity, making them well-rounded and independent individuals who are better prepared for the
                    unique challenges that engineering careers can present.
                </p>
            </div>
        </div>


        <div class="ninth-section">
            <div class="" id="child1">
                <p class="">
                    These Personal and Professional Development courses have made a significant impact by <b>helping
                        students since 2010.</b> With over <b>23,700 registrations,</b> they have provided valuable
                    opportunities for personal and professional growth. Offering a selection of <b>17 courses</b>, these
                    programs have been instrumental in equipping individuals with essential skills. Notably, they have
                    benefitted from the expertise of <b>numerous alumni who have served as course facilitators, sharing
                        practical insights and experiences to guide current participants.</b> This collaborative
                    approach, engaging a diverse participant base and experienced alumni facilitators, has played a
                    crucial role in how these courses have positively contributed to students' personal and professional
                    development.
                </p>
            </div>
            <div class="" id="child2">
                <img src="/images/home_ban3.png" alt="" class="" />
            </div>
        </div>


        <div class=" third-section tree-container">
            <!-- <img src="/images/metrics_tree_filled.png" alt="Circle Image" class="filled-tree-image filled"> -->
            <img src="/images/metrics_tree.png" alt="Circle Image" class="empty-tree-image empty">
            <div class="number-in-image registration">
                <div class="counting-cont">
                    <div class="counting-container" id="counting-container1">
                        18000
                    </div>
                    <div class="plus">+</div>
                </div>
                <div>Registerd<br>Students</div>
            </div>
            <div class="number-in-image courses">
                <div class="counting-cont">
                    <div class="counting-container" id="counting-container2">
                        19
                    </div>
                    <div class="plus"></div>
                </div>
                <div>Courses</div>
            </div>
            <div class="number-in-image basket">
                <div class="counting-cont">
                    <div class="counting-container" id="counting-container3">
                        2
                    </div>
                    <div class="plus"></div>
                </div>
                <div>Baskets</div>
            </div>
            <div class="number-in-image industry-exp">
                <div class="counting-cont">
                    <div class="counting-container" id="counting-container4">
                        10
                    </div>
                    <div class="plus">+</div>
                </div>
                <div>Industry<br>Experts</div>
            </div>
            <div class="number-in-image since-year">
                <div>Since</div>
                <div class="counting-cont">
                    <div class="counting-container" id="">
                        2010
                    </div>
                    <div class="plus"></div>
                </div>
            </div>
            <div class="number-in-image alumni">
                <div class="counting-cont">
                    <div class="counting-container" id="counting-container5">
                        30
                    </div>
                    <div class="plus">+</div>
                </div>
                <div>Alumni<br> Faculties</div>
            </div>
        </div>


        <div class="twelth-section">
            <div class="body2">
                <div class="container2">
                    <div class='card2'>
                        <div class="front2">
                            <img src="/images/kpi_card_1_back.png" alt="" class="logo-hover2" />
                        </div>
                        <div class="back2">
                            <img src="/images/kpi_card_1_front.png" alt="" class="logo-hover2" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="body2">
                <div class="container2">
                    <div class='card2'>
                        <div class="front2">
                            <img src="/images/kpi_card_2_front.png" alt="" class="logo-hover2" />
                        </div>
                        <div class="back2">
                            <img src="/images/kpi_card_2_back.png" alt="" class="logo-hover2" />
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="fourth-section">
            <img src="/images/personal_course.jpg" alt="" class="" />
        </div>
        <div class="tenth-section">
            <img src="/images/pers_histogram.jpg" alt="" class="" />
        </div>
        <div class="fourth-section fourth-section2">
            <img src="/images/professional_course.jpg" alt="" class="" />
        </div>
        <div class="tenth-section tenth-section2">
            <img src="/images/prof_histogram.jpg" alt="" class="" />
        </div>
        <div class="eleventh-section">
            <img src="/images/ProgramSpecific3.jpg" alt="" class="" />
        </div>


        <div class="fifth-section">
            <%- include('carousel.ejs') %>
        </div>
        
        
        <div class="fifth-section-2">
            <%- include('cardswipe.ejs') %>
        </div>


        <div class='last-section'>
            <%- include('../footer/footer.ejs') %>
        </div>
















        <script src="js/countingAnimation.js"></script>
        <script>
            document.addEventListener('DOMContentLoaded', function () {
      var words = ["ersonal", "rofessional"];
      var index = 0;
      var speedType = 150; // Adjust the typing speed (milliseconds)
      var speedErase = 200; // Adjust the erasing speed (milliseconds)
      var cursorBlinkSpeed = 1000; // Adjust the cursor blinking speed (milliseconds)
  
      function typeText() {
        var currentWord = words[index];
        var targetElement = document.getElementById('typing-text');
        var currentText = targetElement.textContent;
        var length = currentText.length;
  
        if (length < currentWord.length) {
          targetElement.textContent = currentWord.substring(0, length + 1);
          setTimeout(typeText, speedType);
        } else {
          setTimeout(eraseText, speedType * 3); // Pause before erasing
        }
      }
  
      function eraseText() {
        var targetElement = document.getElementById('typing-text');
        var currentText = targetElement.textContent;
        var length = currentText.length;
  
        if (length > 0) {
          targetElement.textContent = currentText.substring(0, length - 1);
          setTimeout(eraseText, speedErase); // Adjust the erasing speed
        } else {
          index = (index + 1) % words.length; // Move to the next word
          setTimeout(typeText, speedType); // Start typing the next word
        }
      }
  
      function blinkCursor() {
        var cursorElement = document.querySelector('.cursor');
        cursorElement.style.visibility = (cursorElement.style.visibility === 'visible') ? 'hidden' : 'visible';
        setTimeout(blinkCursor, cursorBlinkSpeed);
      }
  
      // Initial start
      setTimeout(typeText, speedType);
      blinkCursor();
    });
  </script>
</body>

</html>